In [1]:
import os
# import math
import numpy as np #+
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# pd.options.mode.chained_assignment = None

In [2]:
os.getcwd()

'C:\\Users\\stelm\\OneDrive\\Documents\\Work\\home-work\\hw305-svm-random-forest'

In [3]:
data_folder = "data"
PATH = os.path.join(os.getcwd(), data_folder)
folders = os.listdir(PATH)
train_folder = folders[0]
test_folders = folders[1:]
test_folders

['running', 'stairs', 'walking']

In [4]:
train_files = os.listdir(os.path.join(PATH, train_folder))
len(train_files)

1039

In [5]:
print(os.path.join(PATH, train_folder, train_files[0]))

C:\Users\stelm\OneDrive\Documents\Work\home-work\hw305-svm-random-forest\data\idle\idle-1.csv

In [6]:
df_from_file = pd.read_csv(os.path.join(PATH, train_folder, train_files[0]))

In [7]:
df2 = pd.read_csv(os.path.join(PATH, train_folder, train_files[1]))

In [26]:
def transform_df(df):
    array_df = np.hstack(
        [df['accelerometer_X'].to_numpy(), 
         df['accelerometer_Y'].to_numpy(), 
         df['accelerometer_Z'].to_numpy()])
    )
    return pd.DataFrame(array_df.reshape(1, -1))

In [31]:
trans_df = transform_df(df1)

[[ 1.000776  0.718261 -0.909797  5.09965   1.762132 -0.086191 -0.062249
  -0.057461 -0.124498 -0.138864 -0.095768 -0.114922 -0.114922 -0.09098
  -0.095768 -0.105345 -0.148441 -0.134075 -0.100556 -0.081403 -0.124498
  -0.320823  0.148441  0.407014 -0.311246 -0.038307 -0.114922 -0.124498
  -0.167594 -0.11971   4.616021  4.209007 -0.282516  0.148441 -0.162806
  -0.148441 -0.191536 -0.114922 -0.162806 -0.124498 -0.129287 -0.134075
  -0.134075 -0.143652 -0.129287 -0.114922 -0.148441 -0.105345 -0.124498
  -0.110133 -0.153229 -0.191536 -0.234632  0.023942 -0.167594 -0.244209
  -0.158017 -0.114922 -0.124498 -0.124498  8.576031  8.446744  9.203311
   8.418014  9.251195  9.787497  9.773131  9.763555  9.782708  9.768343
   9.773131  9.782708  9.744401  9.773131  9.782708  9.763555  9.787497
   9.773131  9.763555  9.744401  9.773131  9.792285  9.768343  9.80665
   9.768343  9.782708  9.801862  9.758766  9.667787  9.792285]]

In [30]:
df = pd.concat([trans_df, trans_df], ignore_index=True)
df

,0,1,2,3,4,5,6,7,8,9,...,80,81,82,83,84,85,86,87,88,89
0,1.000776,0.718261,-0.909797,5.09965,1.762132,-0.086191,-0.062249,-0.057461,-0.124498,-0.138864,...,9.773131,9.792285,9.768343,9.80665,9.768343,9.782708,9.801862,9.758766,9.667787,9.792285
1,1.000776,0.718261,-0.909797,5.09965,1.762132,-0.086191,-0.062249,-0.057461,-0.124498,-0.138864,...,9.773131,9.792285,9.768343,9.80665,9.768343,9.782708,9.801862,9.758766,9.667787,9.792285

In [ ]:
sub transform(df)
    df_new = df
    return df_new

In [ ]:
# train-test-split with sklearn

from sklearn.model_selection import train_test_split

df1, df2 = train_test_split(df, shuffle=False, test_size=len(test_data))
df1.tail()

In [ ]:
def linear_regression(X, y):
    """
    Linear regression function
    """
    X_b =